
* {
	box-sizing: border-box;
}

.board {
	width: 100vh;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	float: left;
	margin-left: 200px;
	padding:20px;
	text-align: center;
}
.square {
	width: 12.5%;
	max-width: 12.5%;
	height: 12.5%;
	outline: 1px solid #cfcfcf;
	float: left;
	position: relative;
}

.dark {
	background: #000;
}

.light {
	background: #fff;
}

.text {
	text-align: center;
	font-size: 8vh;
	padding: 5px 0;
}

.dark .text {
	color: #fff;
}

.light .text {
	color: #000;
}

.dark.pink {
	background: pink !important;
}

.light.pink {
	background: pink !important;
}

.pink {
	cursor: pointer;
}

.square[data-piece=*],
.square[data-piece=*] {
	cursor: pointer;
}

div.table {
	height: auto;
	margin: 0 auto;
}